---
import Layout from '../layouts/Layout.astro';
import ShortFlixApp from '../components/ShortFlixApp.tsx';
---

<Layout title="ShortFlix - Drama Streaming App">
	<main>
		<ShortFlixApp client:load />
	</main>
</Layout>
